*{
  box-sizing:border-box;
}


*.header{
  text-align: center;
  font-family: Courier New;
  color: red;
  background-color:lightblue;
  font-size:50px;
}

*.header2{
   text-align: center;
  font-family: Courier New;
  color: red;
  background-color:lightblue;
  font-size:40px;

}

*.main{
   text-align: center;
  font-family: Courier New;
  color: red;
  background-color:lightblue;
  font-size:30px;
 
}

.topnav {
  overflow: hidden;
  background-color: lightblue;
}

.topnav a {
  float: left;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: lightblue;
  color: red;
}

.topnav a.active {
  background-color: lightblue;
  color: red;
}
}
